<div class="panel panel-default">
    <div class="panel-heading">
        {{#if EmberChat.Session.authenticated}}
            <h5>Hallo {{user.name}}</h5>
        {{else}}
            <h5>Welcome to EmberChat</h5>
        {{/if}}
    </div>
    <div class="panel-body">
        {{#if EmberChat.Session.authenticated}}
            <div class="list-group">
                {{#link-to 'rooms' class="list-group-item"}}
                    Rooms / Users
                {{/link-to}}
            </div>
        {{/if}}
        <div class="btn-group btn-block">
            {{#if isOnline}}
                <button {{action 'disconnect'}}type="button" class="btn btn-success btn-block">
                    <span class="glyphicon glyphicon-ok"></span> online
                </button>
            {{else}}
                <button {{action 'connect'}} type="button" class="btn btn-danger btn-block">
                    <span class="glyphicon glyphicon-remove"></span> offline
                </button>
            {{/if}}
        </div>
    </div>
</div>