<div class="panel-heading">
    <h4>{{conversation.name}}</h4>
</div>
<div class="panel-body conversation-content">

    {{#each conversation.content}}
        <p><strong>{{user}}</strong>: {{content}}</p>
    {{/each}}


</div>
<div class="panel-footer">
    <form {{action "send" on="submit"}} role="form">
        <div class="form-group">
            <div class="input-group">
                {{input type="text" valueBinding='text' class="form-control"}}
                <span class="input-group-btn">
                    <button {{action 'send'}} class="btn btn-default" type="button">Go!</button>
                </span>
            </div>
        </div>
    </form>
</div>
