<div class="panel-body conversation-content">
    {{#each conversation.content}}
        <div class="row">
            <div class="col-sm-3 user-name">
                {{#unless info}}
                    {{user.name}}:
                {{/unless}}
            </div>
            <div class="col-sm-9 content">
                <span class="pull-right meta-info">
                    {{#if encrypted}}
                        <i class="fa fa-lock"></i>
                    {{/if}}
                    {{formatDate date "hh:mm a"}}
                </span>
                {{#if info}}
                    <p class="info">{{content}}</p>
                {{else}}
                    {{renderConversationContent content}}
                {{/if}}
            </div>
        </div>
    {{/each}}
</div>