{{#link-to 'conversation.user' id class="list-group-item name"}}
    <i {{bind-attr class=":fa :fa-comment user.online:text-success"}}></i>  {{name}}
    {{#if user.online}}
        <span class="pull-right">
            {{#if isEncrypted}}
                <i class="fa fa-lock"></i>
            {{/if}}
            {{#if newMessages}}
                {{newMessages}}
            {{else}}
                &nbsp;
            {{/if}}
        </span>
    {{else}}
        <span class="pull-right">
            {{#if newMessages}}
                {{newMessages}}
            {{else}}
                &nbsp;
            {{/if}}
        </span>
    {{/if}}
{{/link-to}}