{{#link-to 'conversation.user' id class="list-group-item name"}}
    {{name}}
    {{#if user.online}}
        <span class="label label-success">
            {{#if isEncrypted}}
                <span class="glyphicon glyphicon-eye-close"></span>
            {{/if}}
            {{#if newMessages}}
                {{newMessages}}
            {{else}}
                &nbsp;
            {{/if}}
        </span>
    {{else}}
        <span class="label label-default">
            {{#if newMessages}}
                {{newMessages}}
            {{else}}
                &nbsp;
            {{/if}}
        </span>
    {{/if}}
{{/link-to}}