<div class="container-fluid" id="main">
    <div class="row">
        <div class="col-sm-9 col-sm-push-3 main-content">
            {{partial 'partials/versionConflict'}}
            {{outlet}}
        </div>
        <div class="col-sm-3 col-sm-pull-9">
            {{session-info unAuthenticate="unAuthenticate" disconnect="disconnect"}}
            {{#if EmberChat.Session.authenticated}}
                {{conversation-list conversationsBinding="EmberChat.Session.conversationsSorted"}}
                {{#if EmberChat.Session.isAdmin}}
                    {{admin-panel}}
                {{/if}}
            {{/if}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-centered">
            <p class="centered">
                EmberChat {{EmberChat.versionWebApp}} -
                <a href="#" {{action openExternal EmberChat.homepageUrl}}>Homepage</a> -
                <a href="#" {{action openExternal EmberChat.githubUrl}}>Github</a>
            </p>
        </div>
    </div>
</div>
