<div class="col-sm-12">
    <div class="panel panel-default userlist">
        <div class="panel-heading"><h4>Authenticate</h4></div>
        <div class="panel-body">

            {{#if message}}
                <div class="alert alert-info">{{message}}</div>
            {{/if}}

            <form role="form">
                <div class="form-group">
                    <label for="auth">Auth</label>
                    {{input type="text" valueBinding="auth" class="form-control" id="auth" placeholder="Auth"}}
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    {{input type="password" valueBinding="password" class="form-control" id="password" placeholder="Password"}}
                </div>
                <div class="checkbox">
                    <label>
                        {{input type="checkbox" checkedBinding="keep"}} Keep authentication persistent
                    </label>
                </div>
                <button {{action 'authenticate'}} type="submit" class="btn btn-default">Login</button>
            </form>

            <h4>Development:</h4>
            <p>Use one of the below auths, password is always "password" or just click on on below.</p>
            <ul>
                <li><a href="#" {{action 'devAuth' 'Matthias'}}>Matthias</a></li>
                <li><a href="#" {{action 'devAuth' 'Dominik'}}>Dominik</a></li>
                <li><a href="#" {{action 'devAuth' 'Bert'}}>Bert</a></li>
                <li><a href="#" {{action 'devAuth' 'Philipp'}}>Philipp</a></li>
            </ul>
        </div>
    </div>
</div>