<div class="col-sm-12">
    <div class="panel panel-default userlist">
        <div class="panel-heading"><h4>Authenticate</h4></div>
        <div class="panel-body">

            {{#if message}}
                <div class="alert alert-info">{{message}}</div>
            {{/if}}

            <form role="form">
                <div class="form-group">
                    <label for="auth">Auth</label>
                    {{input type="text" valueBinding="auth" class="form-control" id="auth" placeholder="Auth"}}
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    {{input type="password" valueBinding="password" class="form-control" id="password" placeholder="Password"}}
                </div>
                <div class="checkbox">
                    <label>
                        {{input type="checkbox" checkedBinding="keep"}} Stay logged in
                    </label>
                </div>
                <button {{action 'authenticate'}} type="submit" class="btn btn-success">
                    <i class="fa fa-sign-in"></i> Login
                </button>
            </form>
        </div>
    </div>
</div>