<div class="col-xs-8">
    <div class="panel panel-default userlist">
        <div class="panel-heading"><h4>Rooms</h4></div>
        <div class="panel-body">
            <p>Come from server, no function so far: </p>
            <div class="list-group">
                {{#each content}}
                    {{#link-to 'conversation.room' id class="list-group-item"}}
                        {{name}}
                    {{/link-to}}
                {{/each}}
            </div>
        </div>
        <div class="panel-footer">
            <form role="form">
                <h4>Create new room</h4>
                {{#if errorMessage}}
                    <div class="alert alert-danger">{{errorMessage}}</div>
                {{/if}}
                {{#if successMessage}}
                    <div class="alert alert-success">{{successMessage}}</div>
                {{/if}}
                <div class="form-group">
                    <label for="name">Name</label>
                    {{input type="text" valueBinding="name" class="form-control" id="name" placeholder="Name"}}
                </div>
                <button {{action 'create'}} type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>
</div>

<div class="col-xs-4">
    {{user-list usersBinding="EmberChat.Session.availableUsers"}}
</div>